
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #ffffff;
}


.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("Bilder/Backgrund-växthjälten.jpg") no-repeat center center;
  filter: blur(4px);
  background-size: cover;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#111, 0.5);
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.35s 0.15s ease-in forwards;
  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
  }
  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
 
  .ul {
    list-style: none;
    padding: 25px;
    margin-left: 10px;
  }
  .ett {
    float: right;
  }
  .två{
    float: left;
  }

  li {
    float: left;
    margin-left: 20px;
  }
  a {
    font-size: 0.9em;
    color: #bcbcbc;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    
  }
  a:hover {
    color: #c7c7c7;
  }
}

.logo {
  height: 100px;
  float: left;
}
.bilder{
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}
footer {
  background-color: rgb(89, 150, 89);
}
.footerText {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.container{
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
  
}
table{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 3%;
}
table, th, td {
  border:2px solid black;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}