@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  background-color: #ffffff;
}
#header {
  position: fixed;
  top: 0%;
  color: white;
  background-color: rgb(231, 208, 208);
  height: 90px;
  width: 100%;
  z-index: 5;
}
.headline {
  position: relative;
  height: 400px;
  z-index: -10;
  text-align: center;
  background-image: url("Bilder/Backgrund-växthjälten.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
}

#inner {
  color: #fff;
  filter: blur(0px);
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0;
  z-index: -8;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.35s 0.15s ease-in forwards;
  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
  }
  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
}
hr {
  position: relative;
  z-index: -9;
  top: -9px;
  height: 15px;
  background: rgb(255, 255, 255);
  border: none;
}
.navBar {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.Webbwebb {
  position: absolute;
}
.ul {
  font-size: large;
  list-style: none;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#ul {
  float: right;
}
.två {
  z-index: -1;
  display: flex;
  top: -75px;
  float: left;
  flex-direction: column;
}

li {
  float: left;
  margin-left: 20px;
  /* z-index: 10; */
}
a {
  mix-blend-mode: difference;
  font-size: 0.9em;
  color: rgb(65, 65, 65);
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
a:hover {
  color: #c7c7c7;
}

.logo {
  height: 75px;
  float: left;
}
.bilder {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}
footer {
  background-color: rgb(89, 150, 89);
}
.footerText {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.container {
  background-color: rgb(89, 150, 89);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.info {
  width: 100%;
  height: 100px;
}
table {
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 3%;
}
table,
th,
td {
  border: 2px solid black;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shop {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(232, 238, 240);
  border-radius: 10px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  position: relative;
  width: 60%;
  left: 30%;
  padding: 20px;
  margin: 30px;
}
.title {
  width: 100%;
  text-align: center;
}
.produktbild {
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
  height: auto;
}

button {
  width: 75%;
  height: 10%;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  background-color: rgb(29, 29, 29);
  color: white;
}
button:hover {
  cursor: pointer;
}
#ämne {
  height: 200px;
}
.pris {
  &::after {
    content: ":-";
  }
}
.produkt {
  height: 600px;
  text-align: center;
  width: 25vw;
  background-color: rgb(226, 237, 241);
  border-radius: 10px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
@media screen and (min-width: 751px) {
  #hamburger {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  #hamburger {
    display: flex;
  }
  .produkt {
    height: 300px;
  }
  #ul {
    display: none;
    flex-direction: column;
    float: left;
    font-size: 5vh;
    align-items: baseline;
  }
  li {
    padding: 20px;
    left: 0;
  }
  #inner {
    top: 30%;
  }
  .två {
    justify-content: flex-start;
    justify-self: flex-start;
  }
}

@media only screen and (max-width: 1100px) {
  .produkt {
    height: 450px;
  }
}

#InomhusBtn {
  height: 40px;
  width: 140px;
}
#Inomhus {
  display: flex;
}
#Utomhus {
  display: none;
}
#Krukväxter {
  display: none;
}
#Tillbehör {
  display: none;
}
.formulär {
  display: flex;
  background-color: rgb(226, 237, 241);
  flex-direction: column;
  align-items: center;
}
.input {
  position: relative;
  width: 60%;
}
#hamburger {
  position: absolute;
  float: right;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 60px;
}
#hamburger:hover {
  cursor: pointer;
}
#cartTab {
  width: 300px;
  background-color: grey;
  color: white;
  position: relative;
  top: -1300px;
  left: 20px;
  bottom: 0;

  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
.item {
  margin: 20px;
}
